


.header {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}

.logo span {
  color: #6b7280;
  font-weight: 600;
}


.header__nav {
  display: flex;
  gap: 24px;
}

.header__nav a {
  text-decoration: none;
  color: #374151;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 6px
}


.top-banner {
  background: #1f2933;
  padding: 24px 0;
  margin: 10px 90px;
  margin-bottom: 50px;
}

.banner-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
}


.banner-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #000;
  width: 400px;
  height: 200px;
}

.banner-card img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  display: block;
}

.banner-title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

/* Я в тик токе подсмотрел */
.banner-card:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.news-card {
  width: 100%;
  max-width: 380px;

  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 90px;
  margin-bottom: 90px;
  background-color: #c4c4c4;
}

.news-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.news-content {
  padding: 14px 16px 16px;
}


.news-category {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 6px;
}


.news-title {
  font-size: 16px;
  font-weight: 700;
  color: #111827;
  line-height: 1.3;
  margin-bottom: 12px;
}


.news-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  color: #6b7280;
}

.comments {
  display: flex;
  align-items: center;
  gap: 4px;
}

.news-card-2 {
  
  width: 100%;
  max-width: 500px;

  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 90px;
  margin-bottom: 90px;
  background-color: #c4c4c4;
}

.carts{
  display: flex;
}

.login-btn{
  border: none;
  background: none;
}
